#root {
    /* background: linear-gradient(135deg, #121111, #0348f5); */
    /* background: linear-gradient(to bottom right, #0b2c5f, #1e5fa8); */
    /* background-color: #0b2c5f; */
    background: linear-gradient(to bottom, #5d08e5, #271153, #03083f, #000000);
}

html {
    scroll-behavior: smooth;
}

.message-btn {
    display: inline-block;
    background: transparent;
    color: white;
    font-weight: 600;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
    font-size: 1rem;
    border-radius: 6px;
    height: 3.5rem;
}

.message-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transform: skewX(30deg);
    background: linear-gradient(to right, #08eaea, #5d08e5);
    z-index: -1;
    transition: transform 0.5s ease;
}

.message-btn:hover::before {
    transform: skewX(30deg) translateX(150%);
}

.message-btn:hover {
    background: linear-gradient(135deg, #08eaea, #5d08e5);
    color: white;
    border-color: white;
}

.about-header {
    border-left: 2px solid #fb7527;
}

.skill-btn {
    border-radius: 1rem;
}

.skill-btn:hover {
    outline: 1px solid #fb7527;
}

header {
    background-color: #000;
}

.navbar-toggler {
    background: linear-gradient(135deg, #08eaea, #5d08e5);
    margin-left: 1rem;
}

#home {
    padding-top: 2rem;
}

.nav-item .nav-link {
    color: white;

}

@media (max-width:768px) {
    .hero-title {
        height: 7rem;
    }
}
@media (max-width:1293px) and (min-width:769px) {
    .hero-title {
        height: 8.3rem;
    }
}


.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    color: #fb7527;
    text-decoration: underline;
}

/* .body-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
     height: 100vh; 
    object-fit:;
    z-index: -1;
} */

@keyframes rotateInfinite {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate-animation {
    animation: rotateInfinite 5s linear infinite;
    width: 11.6rem;
}

.overlay-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    /* Or white depending on background */
}

.word {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: slideInUp 0.5s forwards;
}

@keyframes slideInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* @keyframes slideInLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */